.container {
    width: 100vw;
}

.header {
    background-color: #901D1D;
    height: 100px;
}

.header-logo {
    height: 100px;
}

.header-text1 {
    margin-left: auto;
}

.carousel {
    z-index: -1;
}
