<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SixChickenFilm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SixChickenFilm.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark header">
            <div class="container-fluid row">
                <a class="navbar-brand col-md-2" href="#">
                    <img src="Images/Logo.png" alt="Logo" class="rounded-pill header-logo">
                </a>
                <div class="collapse navbar-collapse col-md-10 row" id="mynavbar">
                    <ul class="navbar-nav col-md-7 row">
                        <li class="nav-item col-md-2">
                            <a class="nav-link" href="javascript:void(0)">Mua vé</a>
                        </li>
                        <li class="nav-item col-md-2">
                            <div class="dropdown">
                                <button type="button" class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    Phim
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">PHIM ĐANG CHIẾU</a>
                                        <img src="images/Logo.png" alt="" class="header-logo">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">PHIM SẮP CHIẾU</a>
                                        <img src="images/Logo.png" alt="" class="header-logo">
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item col-md-3">
                            <a class="nav-link" href="javascript:void(0)">Thông báo</a>
                        </li>
                    </ul>
                    <form class="d-flex col-md-3">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-danger" type="button">Search</button>
                    </form>
                    <ul class="navbar-nav col-md-2">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Đăng kí</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <p class="footer-content">GIỚI THIỆU</p>
                    <ul class="footer-content">
                        <li>Về chúng tôi</li>
                        <li>Hot line: 0123456789</li>
                        <li>Email: abc123@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-5 footer-col">
                    <p class="footer-content">GÓC ĐIỆN ẢNH</p>
                    <ul class="footer-content">
                        <li><a href="">Phim</a></li>
                        <li><a href="">Blog điện ảnh</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col-logo">
                    <img src="images/Logo.png" alt="Logo" class="footer-logo">
                    <div class="footer-content">SIX CHICKENS CINEMA</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
